In [74]:
import pandas as pd
import sys 
import numpy as np

In [102]:
df = pd.read_csv("C:\\Users\\TejYadav\\Desktop\\NPGO_WCC\\EMSD Input\\Merged_Data_WCC2_Fil2.csv")

In [103]:
df.tail()

,Date,CW_water_flow_rate,east_water_flow_rate,chiller_inlet_temp_2,chiller_outlet_temp_2,condenser_inlet_temp_2,condenser_outlet_temp_2,WCC2_supply_temp
20320,2019-05-15T083600.0000,154.3,98.300000,11.6,11.7,27.3,27.2,11.9
20321,2019-05-15T083700.0000,157.7,41.801045,11.6,11.7,27.3,27.2,11.9
20322,2019-05-15T083800.0000,157.6,41.801045,11.6,11.7,27.4,27.2,11.9
20323,2019-05-15T083900.0000,150.0,41.801045,11.6,11.7,27.6,27.2,11.9
20324,2019-05-15T084000.0000,147.8,41.801045,11.6,11.7,27.6,27.2,11.9

In [104]:
df.shape

(20325, 8)

In [124]:
# filter 2 months data
t_df = df[(df['Date']>'2019-05-12T081100.0000')]

In [125]:
t_df.head()

,Date,CW_water_flow_rate,east_water_flow_rate,chiller_inlet_temp_2,chiller_outlet_temp_2,condenser_inlet_temp_2,condenser_outlet_temp_2,WCC2_supply_temp
15976,2019-05-12T081200.0000,0.4,29.6,10.9,11.2,24.9,24.4,11.7
15977,2019-05-12T081300.0000,0.4,32.3,10.9,11.2,24.9,24.4,11.7
15978,2019-05-12T081400.0000,0.2,31.6,10.9,11.2,24.9,24.4,11.7
15979,2019-05-12T081500.0000,0.4,30.0,10.9,11.2,24.9,24.4,11.7
15980,2019-05-12T081600.0000,0.4,32.2,10.9,11.2,24.9,24.4,11.7

In [126]:
t_df.shape

(4349, 8)

In [127]:
filtered_data_file_name = "Merged_Data_WCC2_2weeks.csv"
t_df.to_csv("C:\\Users\\TejYadav\\Desktop\\NPGO_WCC\\EMSD Input\\"+filtered_data_file_name,index=False)